# Python Virtual Environment
venv/

# Node Modules
frontend/node_modules/
backend/node_modules/

# Environment Files
.env
frontend/.env
backend/.env

# AI Generated Data
AI_Architecture/uploads/
AI_Architecture/outputs/
AI_Architecture/vectordb/

# Build Files
frontend/dist/
backend/dist/

# Python Cache
__pycache__/

# VS Code
.vscode/

# Logs
*.log